.container {
  background-color: powderblue;
  display: flex;
  align-items: center;
  height: 100% !important;
  min-height: 720px;
  background: './assets';
}
.App {
  background-color: white;
  border: none !important;
  margin-left: 20px;
}
.login-form-button {
  background-color: steelblue;
  color: white;
  border: none;
}
.heading {
  font-size: 75px;
  font-weight: bolder;
  margin-left: 190px;
}
.heading2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bolder;
}